<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-segment>
    <ion-segment-button value="solo">
      Solo
    </ion-segment-button>
    <ion-segment-button value="friends">
      Amis
    </ion-segment-button>
    <ion-segment-button value="pro">
      Pro
    </ion-segment-button>
  </ion-segment>

  <div *ngFor="let matchDay of matchDayList" class="first-part">
    <p>{{ matchDay.date }}</p>
    <ion-card class="first-card">
      <ion-list padding>
        <ion-item *ngFor="let match of matchDay.matchList" class="match">
          <ion-grid>
            <ion-row align-items-center (click)="seePrognosis(match.id)">
              <ion-col class="first-team">{{match.firstTeam.name}}</ion-col>
              <ion-col *ngIf="match.firstTeamPrognosis; else blankScore">
                <ion-col  *ngIf="isWinner(match.firstTeamScore, match.secondTeamScore,match.firstTeamPrognosis,match.secondTeamPrognosis); else loseFirst"
                          class="match-prognosis win">{{match.firstTeamPrognosis}}</ion-col>
                <ng-template #loseFirst>
                <ion-col class="match-prognosis lose">{{match.firstTeamPrognosis}}</ion-col>
                </ng-template>
              </ion-col>
              <ng-template #blankScore></ng-template>
              <ion-col>
                <ion-col class="match-score">{{match.firstTeamScore}} - {{match.secondTeamScore}}
                </ion-col>
              </ion-col>
              <ion-col *ngIf="match.secondTeamPrognosis">
                <ion-col *ngIf="isWinner(match.firstTeamScore, match.secondTeamScore,match.firstTeamPrognosis,match.secondTeamPrognosis); else loseFirst"
                         class="match-prognosis win">{{match.secondTeamPrognosis}}</ion-col>
              </ion-col>
              <ion-col class="second-team">{{match.secondTeam.name}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

</ion-content>
