page-prognosis-event {
  .cards {
    margin-top: 25px;
    padding: 10px;
  }

  .bet {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    .hour {
      background-color: #193C4F;
    }
  }

  .match-date p {
    text-align: center;
    font-size: 10px;
    color: #59787F;
    margin-left: 10px;
  }

  .second-grid {
    margin-top: 5px;
  }

  .first-minus, .second-minus {
    background-color: #59787F;
    text-align: center;
    padding: 5px 12px 5px 12px;
  }

  .first-plus, .second-plus {
    background-color: #59787F;
    text-align: center;
    padding: 5px 12px 5px 12px;
  }

  .first-bet-number, .second-bet-number {
    background-color: #193C4F;
    text-align: center;
    padding: 5px 15px 5px 15px;
  }

  .first-plus {
    margin-right: 35px;
  }

  .second-minus {
    margin-left: 35px;
  }

  .first-div {
    border-right: solid 1px;
  }

  .img-pub {
    margin-top: 25px;
  }

  .back {
    background-color: #244A5B;
    margin-right: 10px;
    padding: 10px 25px 10px 25px;
  }

  .validate {
    background-color: #39B54A;
    margin-left: 10px;
    padding: 10px 25px 10px 25px;
  }

  .buttons {
    margin-top: 30px;
  }
}
